.about-section {
    background-image: url('../../../public/images/about.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 110vh;
    z-index: -1;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 30%;
    padding-left: 28%;
    text-align: center;
}

.about-section h2,
h1 {
    font-size: 40px;
    font-weight: 700;
}



.about_home {
    height: auto;
    width: 100%;
}

.about_home .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about_home .right {
    text-align: left;
    padding: 50px 50px;
    width: 50%;
}

.about_home .right .items {
    margin-bottom: 50px;
}

.about_home .right .items .item {
    margin-top: 30px;
    padding: 20px;
    background-color: bisque;
    transition: 0.5s;
}

.about_home img {
    width: 70px;
    height: 70px;
}

.about_home .img {
    width: 200px;
}

.about_home .item h2 {
    font-size: 25px;
    margin-bottom: 12px;
}

.about_home .items .item:hover {
    background-color: #1eb2a6;
    color: #fff;
    cursor: pointer;
}

.wraper-section {
    background-image: url("../../../public/images/wrap1.webp");
    /* background: linear-gradient(to left, rgba(24, 24, 24, 0.9), rgba(0, 2, 2, 0.3)); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40vh;
    color: #fff;
}

.wraper-section .box {
    padding: 25px 0;
    margin-left: 80px;
}

.wraper-section .box img {
    margin-right: 30px;
}

.wraper-section h1 {
    font-size: 60px;
}

.wraper-section h3 {
    font-size: 25px;
    font-weight: 700;
}

@media screen and (max-width:768px) {
    .about-section {
        background-position: center;
        padding-top: 50%;
        padding-left: 0;
        height: 120vh;
    }

    .about_home .flex {
        flex-direction: column-reverse;
    }

    .about_home .row {
        width: 100%;
    }

    .wraper-section {
        height: 90vh;
    }

    .wraper-section .box {
        padding: 1px 0;
    }

}

@media screen and (max-width:430px) {
    .about-section {
        background-position: center;
        padding-top: 70%;
        height: 130vh;
        padding-left: 0;
    }

    .wraper-section {
        height: 80vh;
    }

    .wraper-section .box {
        padding: 10px 0;
        margin-left: 10px
    }

    .wraper-section h1 {
        font-size: 40px;
    }

    .wraper-section h3 {
        font-size: 18px;
    }
}